.product-rating {
  background-color: var(--green);
  width: fit-content;
  color: var(--white);
  border-radius: 7px;
  font-size: 0.75rem;
}

.product-container {
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.product-card {
  transition: all 0.2s linear;
}

.card-vertical .card-image {
  height: 150px;
}

.product-card:hover {
  box-shadow: 0 0 5px 5px hsla(0, 1%, 82%, 0.384);
}

.card-icon {
  position: relative;
}

.btn-wishlist {
  position: absolute;
  top: 1%;
  right: 2%;
}

.btn.btn-wishlist i {
  color: var(--red);
}

.btn.btn-addtocart {
  font-size: 0.835rem !important;
}

.filter-section {
  height: fit-content;
}

.card-vertical .card-image {
  width: 150px;
}

@media screen and (min-width: 481px) {
  .product-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .filter-section {
    flex-basis: 25%;
    flex-shrink: 0;
  }
  .product-listing.flex-column {
    flex-direction: row;
  }
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

@media screen and (min-width: 1025px) {
  .filter-section {
    flex-basis: 20%;
  }
}
